.notChacked {
	box-sizing: border-box;
	width: 18px;
	height: 18px;
	border-radius: 3px;
	border: solid 2px #000;
}
.checked {
	position: relative;
	box-sizing: border-box;
	width: 18px;
	height: 18px;
	border-radius: 3px;
	background-color: #000;
}
.checked::before {
	content: '';
	position: absolute;
	top: -1px;
	left: 4px;
	display: block;
	border-right: solid 2px #fff;
	border-bottom: solid 2px #fff;
	width: 5px;
	height: 11px;
	transform: rotate(45deg);
}